[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-monitor-opentelemetry = "==1.6.1"
opentelemetry-instrumentation-fastapi = "==0.47b0"

[requires]
python_version = ">3.10"
